<div class="car animated fadeIn  fast">
    <div class="card-body">
        <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre ">
        <h5 class="card-title">{{heroe.nombre}}</h5>
        <p class="card-text">{{heroe.bio}}</p>
        <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
        <button (click)="verHeroe()" type="button" class="btn btn-outline-primary btn-block"> 
                ver mas... 
            </button>

        <a [routerLink]="['/heroe']" class="btn btn-outline-primary ">ver mas... link</a>
    </div>
</div>